<h1>What the ... ?</h1>

<p>ELO is a system commonly used in chess to manage rankings of people based on relative performance; that is to say that it rewards you more for performing well against people better than you and also takes into account several other factors including number of games played and relative skill.</p>

<p>There is, however, a problem ...</p>

<p>ELO was designed for games that pits two entities against each other - chess, soccer, football, etc. - and is <i>not</i> well suited to multi-player games.</p>

<p>Luckily, I found <a href='http://sradack.blogspot.com/2008/06/elo-rating-system-multiple-players.html'>this article</a> that proposes a set of equations that generalize the method to a multiplayer game by noting that that game is basically like an average of two-players games between all of the players.</p>

<p>I think you'll find that the implementation for this is relatively simple and actually looks like it works pretty well. You can view the code <a href='https://github.com/dugancathal/ladder-board/blob/master/app/models/game.rb#L15-44'>on Github</a>.</p>
