<h1>Games</h1>

<div id='games calendar'>
  <%= calendar do |date| %>
    <%= date.day %>
    <br/>
    <% unless @games_by_day[date].blank? %>
      <% @games_by_day[date].each do |game| %>
        <%= link_to "Board #{game.number}", game %>
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to 'New Game', new_game_path %>
