@import 'bourbon';
@import 'neat';
@import 'hexanize';

$playerBlue: #000055;

@import 'calendar';
@import 'forms';
@import 'header';
@import 'sidebar';


body {
  background-image: url(/assets/catan.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 40px;
  
  h1 {
    color: white;
  }
}

.tendril-button {
  @include button(shiny, #00b600);
}

.blue-button {
  @include button(shiny, #0000b6);
}

.red-button {
  @include button(shiny, #e00000);
}


.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.right-float {
  float: right;
}

.left-float {
  float: left;
}

.bottom-actions {
  text-align: center;
  margin: 10px 0;
}

@mixin scaleY(
  $scale: $default-scale-y,
  $perspective: false,
  $only3d: false) {
    $trans: scaleY($scale);
    @if $perspective { $trans: perspective($perspective) $trans; }
    @include transform($trans, $only3d);
}

@mixin rotate(
  $rotate: $default-rotate,
  $perspective: false,
  $only3d: false) {
    $trans: rotate($rotate);
    @if $perspective { $trans: perspective($perspective) $trans; }
    @include transform($trans, $only3d);
}
