@import 'bourbon';
@import 'neat';
@import 'hexanize';

@mixin scaleY(
  $scale: $default-scale-y,
  $perspective: false,
  $only3d: false) {
    $trans: scaleY($scale);
    @if $perspective { $trans: perspective($perspective) $trans; }
    @include transform($trans, $only3d);
}

@mixin rotate(
  $rotate: $default-rotate,
  $perspective: false,
  $only3d: false) {
    $trans: rotate($rotate);
    @if $perspective { $trans: perspective($perspective) $trans; }
    @include transform($trans, $only3d);
}
