form {
  .fields {
    padding: 10px;
  }

  .field {
    text-align: center;
    width: 100%;

    label {
      margin-right: 25px;
      margin-bottom: 20px;
      width: 10%;
    }

    input, select {
      margin-bottom: 20px;
      padding: 10px;
      border: solid 1px transparent;
      border-bottom: solid 1px $playerBlue;
      width: 100%;
      background: transparent;
      text-align: center;
    }

    select {
      border-bottom: transparent;
    }
  }

}
