form {
  color: white;
  text-align: center;
  .fields {
    padding: 10px;
  }

  .field {
    text-align: center;
    width: 100%;

    label {
      margin-right: 25px;
      margin-bottom: 20px;
      width: 10%;
    }

    input, select {
      margin-bottom: 20px;
      padding: 10px;
      border: solid 1px transparent;
      border-bottom: solid 1px $playerBlue;
      width: 100%;
      background: transparent;
      text-align: center;
      color: white;
    }

    select {
      border-bottom: transparent;
    }
  }

  .fields {
    width: 50%;
    float: left;
    text-align: center;
    
    &:after {
      clear: both;
    }
  }

  .add_nested_fields:before {
    clear: both;
  }
}

.bottom-actions {
  clear: both;
  text-align: center;
  margin: 10px 0;
}

.avatar-box {
  float: left;
  width: 33%;
}
