#header {
  @include linear-gradient(#000, #444);
  box-shadow: 0 0 5px 0;
  top: 0;
  position: fixed;
  height: 40px;
  width: 110%;
  line-height: 40px;
  left: -2px;
  z-index: 1000;

  color: white;
  .user-nav {
    float: right;
    margin-right: 10%;

    a {
      @include button(shiny, #888);
      line-height: 30px;
      padding: 2px 5px;
    }
  }
}

.page-header {
  text-align: center;
}
