#header {
  @include linear-gradient(#000, #444);
  box-shadow: 0 0 5px 0;
  top: 0;
  position: fixed;
  height: 40px;
  width: 110%;
  line-height: 40px;
  left: -2px;
  z-index: 1000;

  color: white;
  .user-nav {
    float: right;
    margin-right: 10%;

    > a { 
      @include button(shiny, #888);
      line-height: 30px;
      padding: 2px 5px;
    }
  }
}

.page-header {
  text-align: center;
  margin: 10px;
}

.dropdown-hover {
  + .menu {
    display: none;
    padding: 25px;
    border-radius: 10px;
    background-color: red;
    @include linear-gradient(to top, #fff, #444);
    position: absolute;
    right: 10%;
  }

  + .menu:hover {
    display: block;
  }

  &:hover {
    + .menu {
      display: block;
    }
  }
}
