.content {
  @include outer-container;
  .main {
    @include span-columns(8);
  }
  .sidebar {
    @include span-columns(4);
    @include box-shadow(3px 3px 5px 3px #444);
    @include omega();

    font-family: $verdana;
    height: 500px;
    max-height: 750px;
    overflow-x: scroll;

    h1, h2, h3, h4, h5 {
      text-align: center;
      font-size: 2em;
    }
  }
}

.ranking {
  font-size: 2em;
  font-style: bold;
}

.score {
  font-size: 1.5em;
  font-style: italic;
}

table.leaderboard {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}
