<table class='leaderboard'>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% leaders.each do |rank, player| %>
      <tr>
        <td class='ranking'><%= rank %></td>
        <td>
          <%= content_tag 'div', nil, class: 'hexagon', data: {background: player.avatar.url}, title: player.email %>
        </td>
        <td class='score'><%= player.score %></td>
    <% end %>
  </tbody>
</table>
