<h1>Leader Board</h1>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>ELO Score</th>
    </tr>
  </thead>
  <tbody>
    <% LeaderBoard.new(User.leaders, :elo_score).rankings.each do |i, user| %>
      <tr>
        <td class='ranking'><%= i %></td>
        <td>
          <%= content_tag 'div', nil, class: 'hexagon', data: {background: user.avatar.url}, title: user.email %>
        </td>
        <td class='score'><%= user.elo_score %></td>
    <% end %>
  </tbody>
</table>
